.top_bar{
    background: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top_bar .social_top {
    margin: 0;
    padding: 0;
}
.top_bar .social_top ul li {
    float: left;
}
header .top_applbtn {
    float: right;
    margin-top: 38px;
}